/*simple reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 150vh;
  background-color: bisque;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
p.display-screen {
  border: 2px solid black;
  width: 800px;
  height: 200px;
  border-radius: 20px;

  /*center horizontally and vertically the text inside of display-screen paragraph  */
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  height: 50%;
  width: 800px;
  margin-top: 50px;
  border: 2px solid red;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.btn {
  margin: 20px 0 0 20px;
  height: 120px;
  width: 150px;
}
